<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
  <description>web.xml file for tykeknit.com API for web Application</description>
  
  <session-config>
      <session-timeout>35</session-timeout>
  </session-config>
  <mime-mapping>
      <extension>html</extension>
      <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>txt</extension>
      <mime-type>text/plain</mime-type>
  </mime-mapping>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.tykeknit.web.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <init-param>
      <param-name>smtp-host</param-name>
      <param-value>10.1.2.1</param-value>
    </init-param>
    <init-param>
      <param-name>domain</param-name>
      <param-value>tykeknit.com</param-value>
    </init-param>
    <init-param>
      <param-name>sendmailto</param-name>
      <param-value>mgupta@tykeknit.com</param-value>
    </init-param>
    <init-param>
      <param-name>web-server</param-name>
      <param-value>http://dev.tykeknit.com/api</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc-DS</param-name>
      <param-value>java:comp/env/jdbc/DBConnection1DS</param-value>
    </init-param>
    <init-param>
      <param-name>simplegeo-key</param-name>
      <param-value>QT4x3g2ExKdBzuUqU8dvUcdaqfSAapAT</param-value>
    </init-param>
    <init-param>
      <param-name>simplegeo-secret</param-name>
      <param-value>gyCewFGygCmCgjpDz4WqgrUpnaDVwycK</param-value>
    </init-param>
    <init-param>
      <param-name>simplegeo-knit-layer</param-name>
      <param-value>com.tykeknit.knits</param-value>
    </init-param>
    <init-param>
      <param-name>simplegeo-event-layer</param-name>
      <param-value>com.tykeknit.events</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- JDBC Config -->
<resource-ref>
 <description>PostgreSQL Datasource</description>
 <res-ref-name>jdbc/DBConnection1DS</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>

<!--
<resource-ref>
 <description>PostgreSQL Datasource</description>
 <res-ref-name>jdbc/DBConnection2DS</res-ref-name>
 <res-type>org.postgresql.ds.PGConnectionPoolDataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>
-->

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
 </web-app>
